.spinner-container {
	position: fixed;
	width: 100%;
	height: -webkit-fill-available;
	background-color: #ccccccbb;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* @keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
} */

.spinner-image {
	width: 250px;
}
