.maze-status-modal-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #ccccccbb;
	display: flex;
	justify-content: center;
	align-items: center;
}

.maze-status-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.status-image {
	width: 80%;
	height: 100%;
}

.new-game-button {
	margin-top: 30px;
}
