.ceil {
	width: 19px;
	height: 19px;

	border: 1px solid transparent;
}

.left {
	border-left: 1px solid black;
}

.right {
	border-right: 1px solid black;
}

.top {
	border-top: 1px solid black;
}

.bottom {
	border-bottom: 1px solid black;
}
